node_modules/
.env
ufs crm/dist/
*.log
.DS_Store
backend/private-key.json
app-debug.apk
app-release.apk
*.apk
*.jpeg
*.jpg
feereceiptapp/
admin-attendance/
/whatsapp-crm/
shon/
*.aab
main.txt
emails.txt
razorypay.txt
client/assets/*.properties

package.json
package-lock.json
